{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "src/server/config/config.js",
      "options": {
        "printWidth": 300
      }
    }
  ]
}
