$base-color-1-light: #3b6068;
$base-color-1-main: #2a454b;
$base-color-1-dark: #1d3034;

$base-color-2-light: #5ac494;
$base-color-2-main: #41b380;
$base-color-2-dark: #36966b;

$base-color-3-light: #f5f8f2;
$base-color-3-main: #cedcc1;
$base-color-3-dark: #c1d3b1;

$base-color-4-light: #c0b17c;
$base-color-4-main: #c0b17c;
$base-color-4-dark: #b6a568;

$base-color-5-light: #e28a65;
$base-color-5-main: #db7042;
$base-color-5-dark: #db7042;

$ui-01: $base-color-3-light;
$ui-02: $base-color-1-main;

$text-01: $base-color-1-dark;
$text-02: $base-color-3-light;

$link-01: $base-color-2-dark;
