/* stylelint-disable scale-unlimited/declaration-strict-value */
/* stylelint-disable property-disallowed-list */

@mixin heading-regular {
  font-family: var(--font-primary);
  font-size: $space-20;
  font-weight: 400;
  letter-spacing: 0;
  line-height: $space-24;
}

@mixin label-regular {
  font-family: var(--font-primary);
  font-size: $space-12;
  font-weight: 400;
  letter-spacing: 0;
  line-height: $space-16;
}

@mixin body-regular {
  font-family: var(--font-primary);
  font-size: $space-16;
  font-weight: 400;
  letter-spacing: 0;
  line-height: $space-20;
}

@mixin body-medium {
  @include body-regular;
  font-weight: 600;
}
