@use 'variables';

:root {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font: var(--font-primary);
  background-color: var(--primary-color);
  transition: background-color 0.5s;

  &.dark-mode {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --avatar-color: var(--tertiary-color);
    --text-color: var(--tertiary-color);
    --button-color: var(--tertiary-color);
    --button-text: var(--tertiary-color-dark);
  }

  &.light-mode {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --avatar-color: var(--secondary-color-light);
    --text-color: var(--primary-color-dark);
    --button-color: var(--tertiary-color);
    --button-text: var(--tertiary-color-dark);
  }

  body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
  }

  #__nuxt {
    height: 100%;
    overflow-x: hidden;
  }

  h1,
  h2,
  p {
    margin: 0;
  }
}
