@mixin heading-regular {
  font-family: var(--font-primary);
  font-size: var(--space-36);
  font-weight: 600;
  letter-spacing: 0;
  line-height: var(--space-44);

  @include phone {
    font-size: var(--space-24);
    line-height: var(--space-32);
  }
}

@mixin body-regular {
  font-family: var(--font-primary);
  font-size: var(--space-20);
  font-weight: 400;
  letter-spacing: 0;
  line-height: var(--space-20);

  @include phone {
    font-size: var(--space-16);
    line-height: var(--space-18);
  }
}

@mixin body-medium {
  @include body-regular;
  font-weight: 600;
}

//breakpoints

$breakpoint-phone-small: 380px;
$breakpoint-phone: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-desktop: 1279px;

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$breakpoint-phone}) {
    @content;
  }
}

@mixin phone-small {
  @media (max-width: #{$breakpoint-phone-small}) {
    @content;
  }
}

// height greater than width
@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}
