@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

:root {
  --font-primary: 'Inter', sans-serif;

  /* colors */
  --primary-color-dark: #16272d;
  --secondary-color-dark: #1d3942;

  --primary-color-light: #fff;
  --secondary-color-light: #f5f5f5;

  --tertiary-color: #98ffc5;
  --tertiary-color-dark: #182d20;

  /* spacing */
  --space-160: 10rem;
  --space-128: 8rem;
  --space-112: 7rem;
  --space-96: 6rem;
  --space-84: 5.25rem;
  --space-80: 5rem;
  --space-72: 4.5rem;
  --space-64: 4rem;
  --space-52: 3.25rem;
  --space-44: 2.75rem;
  --space-36: 2.25rem;
  --space-32: 2rem;
  --space-24: 1.5rem;
  --space-20: 1.25rem;
  --space-18: 1.125rem;
  --space-16: 1rem;
  --space-8: 0.5rem;
  --space-2: 0.125rem;
}
